<select [(ngModel)]="selectedTrainer" (ngModelChange)="selectTrainer($event)" class="form-select" aria-label="Trainer selector">
    <!-- <option selected>Select a trainer</option> -->
    <option [ngValue]="trainer" *ngFor="let trainer of trainers">{{trainer.id}} - {{trainer.name}}</option>
  </select>


  <div class="pokeshow">
    <app-teams-selected-pokemon *ngIf="selectedPokemon!==undefined" [pokemon]="selectedPokemon"></app-teams-selected-pokemon>
  </div>

  <div *ngIf="selectedTrainer!==undefined" class="pokelist">
      <div *ngFor="let pokemon of selectedTrainer.team">
        <button class="btn delete" (click)="deletePokemon(pokemon.id)">X</button>
        <app-pokemon-details (click)="selectPokemon(pokemon.pokemon)" [pokemon]="pokemon.pokemon"></app-pokemon-details>
    </div>
    <div>
      <p></p>
      <div *ngIf="selectedTrainer.team.length<7" (click)="activateInput()" class="pokecard">
      <p>Añadir\npokemon</p> 
      <input *ngIf="addPokemonInput" type="text" [(ngModel)]="pokemonToAdd">
      <button *ngIf="addPokemonInput" (click)="addPokemon(pokemonToAdd)"></button>
    </div>
    </div>
    
  </div>
    