<nav
  class="navbar navbar-expand-lg navbar-light mx-2 bg-light shadow-sm p-3 mb-5 bg-body rounded"
>
  <div class="container-fluid">
    <a  class="navbar-brand pe-2" >
      <svg class="icon">
        <use xlink:href="#pokeball" alt="Home" />
      </svg>
    </a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="/trainer" routerLinkActive="active" class="nav-link" >
          TRAINERS<svg class="icon">
          <use xlink:href="#pokemon-trainer" alt="Trainers" /></svg
        ></a>

        <a class="nav-link"
        >TEAMS<svg class="icon">
          <use xlink:href="#eevee" alt="Teams" /></svg
        ></a>
        <a class="nav-link"
        >POKÉDEX<svg class="icon">
          <use xlink:href="#smartphone" alt="Pokédex" /></svg
        ></a>
      </div>
    </div>
  </div>
</nav>
