.poke-div{
    height: 100px;
    width: 100px;
    float: left;
    margin: 15px;
    background-color: white;
    text-align: center;
    border-radius: 50%;

}

.poke-img {

    height: 50%;
}

.poke-box{
    display: flex;
}

.bottom-menu {
    text-align: center;
    margin: 35px;
}

.big-img{
    
    
}

.poke-stats{
    background-color:rgb(223, 223, 223);
    padding: 10px;
}

.pokedex{
    background-color: rgb(163, 45, 45);
}
