.text {
  color: black;
  font-size: 26px;
}

#trainer-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input-group{
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    width: 98%;
}

.pokelist {
    padding: 3%;
    position: relative;
    height: fit-content;
    bottom: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
    width: 100%;
  }
  
  .pokecard {
    width: 130px;
    height: 140px;
    max-height: 280px;
    padding-top: 0.5%;
    margin: 0.4%;
    border-radius: 1em;
    background-color: white;
    transition: all 0.4s;
    border: rgb(245, 227, 227);
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  .pokecard:hover {
    background-color: rgb(255, 182, 182);
    border: rgb(192, 126, 126);
    border-style: solid;
    border-width: 2px;
    z-index: 100;
    -webkit-animation: scale 0.5s linear;
    -moz-animation: scale 0.5s linear;
    animation: scale 0.5s linear;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
  }
  
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
      -webkit-box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.1);
      box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.1);
    }
  }
  
  @keyframes scaledown {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .pokeimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .text {
    line-height: 1.5em;
    text-align: center;
  }
  
  /* type styles, different for each type */
  .poketype {
    font-size: 10px;
    display: inline-block;
    line-height: 1.3em;
    border-radius: 0.4em;
    border-style: solid;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-transform: uppercase;
  }
  
  .normal {
    background-color: #aab09f;
    border-color: #aab09f;
  }
  
  .fighting {
    background-color: #cb5f48;
    border-color: #cb5f48;
  }
  
  .flying {
    background-color: #7da6de;
    border-color: #7da6de;
  }
  
  .poison {
    background-color: #b468b7;
    border-color: #b468b7;
  }
  
  .ground {
    background-color: #cc9f4f;
    border-color: #cc9f4f;
  }
  
  .rock {
    background-color: #b2a061;
    border-color: #b2a061;
  }
  
  .bug {
    background-color: #d8e030;
    border-color: #d8e030;
  }
  
  .ghost {
    background-color: #846ab6;
    border-color: #846ab6;
  }
  
  .steel {
    background-color: #89a1b0;
    border-color: #89a1b0;
  }
  
  .fire {
    background-color: #ea7a3c;
    border-color: #ea7a3c;
  }
  
  .water {
    background-color: #539ae2;
    border-color: #539ae2;
  }
  
  .grass {
    background-color: #71c558;
    border-color: #71c558;
  }
  
  .electric {
    background-color: #e5c531;
    border-color: #e5c531;
  }
  
  .psychic {
    background-color: #e5709b;
    border-color: #e5709b;
  }
  
  .ice {
    background-color: #70cbd4;
    border-color: #70cbd4;
  }
  
  .dragon {
    background-color: #6a7baf;
    border-color: #6a7baf;
  }
  
  .dark {
    background-color: #736c75;
    border-color: #736c75;
  }
  
  .fairy {
    background-color: #e397d1;
    border-color: #e397d1;
  }
  
  .unknown {
    background-color: rgb(145, 62, 145);
    border-color: purple;
  }
  
  .shadow {
    background-color: red;
    border-color: rgb(207, 0, 0);
  }
  