<div class="main-trainer-container" >

    <div class="trainer-details-container">
        <div class="trainers-details-basic">
            <div class="selected-trainer-photo">
                <img src="{{trainer.imageUrl}}" height="250"/>
            </div>
            <div class="trainer-details-text">
                <p class="text">Name: {{trainer.name}}</p>
                <p class="text">Hobby: {{trainer.hobby}}</p>
                <p class="text">Age: {{trainer.age}}</p>
            </div>
        </div>
        
        <div class="trainer-details-team">
            <app-pokemon-list *ngIf="trainer.showTeam" [team]="trainer.team"></app-pokemon-list>
        </div>
    </div>

    <app-trainer-list (showTrainerDetailsEvent)="showTrainerDetails($event)"></app-trainer-list>

</div>