.pokelist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokecard{
    width: 200px;
    height:200px;
    max-height: 200px;
    margin: 1%;
    border-radius: 1em;
    background-color: white;
    transition: all 0.4s;
    border: rgb(245, 227, 227);
    border-style: solid;
    border-width: 2px;
    transition: max-height 0.55s ease-in-out;
}

.pokecard-open{
    max-height: 500px;
    height: fit-content;
    transition: max-height 0.55s ease-in-out;
}

.pokecard:hover{
    background-color: rgb(255, 182, 182);
    border: rgb(192, 126, 126);
    border-style: solid;
    border-width: 2px;
}