<div class='main'></div>
<div class="footer mt-auto py-3 bg-light mx-2 shadow-sm mb-5 bg-body rounded">
  <div class="container text-center">
    <p class="text-muted small">Developed by: <svg class="icon">
      <use xlink:href="#squirtle"/></svg
    > Celia Lumbreras <svg class="icon">
      <use xlink:href="#pikachu"/></svg
    > Nerea Garcia <svg class="icon">
      <use xlink:href="#charmander"/></svg
    > Paul Barroso <svg class="icon">
      <use xlink:href="#bullbasaur"/></svg
    > Salvatore Corsaro </p>
  </div>
</div>
