.container{
  padding: 1%;
  width: 40%;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  background-color: ghostwhite;
}

.button {
  margin: 20px 40% 0;
}
.button:hover{
  cursor: not-allowed;
}
.error-msg {
  color: red;
  font-size: 11px;
}


