  <form [formGroup]="form"  #formDirective="ngForm">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <label>Name</label>
        </div>
        <div class="col">
          <input formControlName="name" type="text" name="name" placeholder="Introduce name"/>
          <span class="error-msg" *ngIf="nameField.hasError('required') && nameField.touched">Name is required</span>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <label>Hobby</label>
        </div>
        <div class="col">
          <input formControlName="hobby" type="text" name="hobby" placeholder="Introduce hobby"/>
          <span class="error-msg" *ngIf="hobbyField.hasError('required') && hobbyField.touched">Hobby is required</span>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <label>Age</label>
          </div>
          <div class="col">
            <input formControlName="age" type="text" name="age" placeholder="Introduce age" />
            <span class="error-msg" *ngIf="ageField.hasError('required') && ageField.touched">Age is required</span>
            <span class="error-msg" *ngIf="(ageField.hasError('min') || ageField.hasError('max') || ageField.hasError('pattern')) && ageField.touched && !ageField.hasError('required')">Age should be between 15 and 80</span>
          </div>
        </div>

      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <label>Photo</label>
          </div>
          <div class="col">
            <select formControlName="photo" class="form-select" aria-label="Default select example" placeholder="Select photo">
              <option value="https://static.wikia.nocookie.net/espokemon/images/7/73/Bella_OPC.png">Beauty</option>
              <option value="https://static.wikia.nocookie.net/espokemon/images/1/1a/Motorista_OPC.png">Biker</option>
              <option value="https://static.wikia.nocookie.net/espokemon/images/b/b4/Ornit%C3%B3logo_OPC.png">Bird Keeper</option>
              <option value="https://static.wikia.nocookie.net/espokemon/images/a/ac/Karateka_OPC.png">Karateka</option>
              <option value="https://static.wikia.nocookie.net/espokemon/images/4/48/Cazabichos_OPC.png">Bug Catcher</option>
              <option value="https://static.wikia.nocookie.net/espokemon/images/6/62/Ladr%C3%B3n_OPC.png">Burglar</option>
              <option value="https://static.wikia.nocookie.net/espokemon/images/1/1e/Guitarrista_OPC.png">Guitarist</option>
              <option value="https://static.wikia.nocookie.net/espokemon/images/3/36/Pescador_OPC.png">Fisherman</option>
              <option value="https://static.wikia.nocookie.net/espokemon/images/b/b2/Caballero_OPC.png">Gentleman</option>
              <option value="https://static.wikia.nocookie.net/espokemon/images/3/33/Monta%C3%B1ero_OPC.png">Hiker</option>
              <option value="https://static.wikia.nocookie.net/espokemon/images/8/85/Malabarista_OPC.png">Juggler</option>
              <option value="https://static.wikia.nocookie.net/espokemon/images/a/ad/Pokeman%C3%ADaco_OPC.png">PokéManiac</option>
              <option value="https://static.wikia.nocookie.net/espokemon/images/6/69/Marinero_OPC.png">Sailor</option>
              <option value="https://static.wikia.nocookie.net/espokemon/images/8/84/Cient%C3%ADfico_OPC.png">Scientist</option>
              <option value="https://static.wikia.nocookie.net/espokemon/images/e/eb/Supernecio_OPC.png">Super Nerd</option>
              <option value="https://static.wikia.nocookie.net/espokemon/images/9/91/Nadador_OPC.png">Swimmer</option>
              <option value="https://static.wikia.nocookie.net/espokemon/images/1/18/Pok%C3%A9fan_%28hombre%29_OPC.png">PokéFan</option>
              <option value="https://static.wikia.nocookie.net/espokemon/images/c/c9/Snow-boarder_OPC.png">Boarder</option>
            </select>
            <span class="error-msg" *ngIf="photoField.hasError('required') && photoField.touched">Photo is required</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row button pb-1 p-t2">
        <button (click)="onSubmit()" data-bs-dismiss="modal" [disabled]="form.invalid" type="button" class="btn btn-outline-danger">Create</button>
    </div>
    </form>
