<div class="container-fluid">
  <div class="row justify-content-md-center">
    <button class="button-modal col-6 center my-5 py-4" type="button" data-bs-toggle="modal" data-bs-target="#myModal">
      <svg class="icon">
        <use xlink:href="#insignia"/>
      </svg>
    </button>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-body">
      <iframe width="400" height="300" frameborder="0" src="{{safeUrl}}" gesture="media"></iframe>
    </div>
  </div>
</div>




