
<div class="modal fade border-radius" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-trainer-create (trainerCreated)="trainerCreated()"></app-trainer-create>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<div class="row">
  <div *ngIf="trainersCarousel!==undefined" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-block w-100">
          <div class="trainercard" *ngFor="let trainer of trainersCarousel[0]">
          <div class="text-center">{{ trainer.name }}</div>
          <a [routerLink]="['/trainers', trainer.id]">
            <img src="{{ trainer.imageUrl }}" height="100px" alt="trainer-image" />
          </a>
        </div>
      </div>
        </div>
    <div class="carousel-item">
      <div class="d-block w-100" *ngFor="let carouselPage of trainersCarousel.slice(1,trainersCarousel.length)">
        <div class="trainercard" *ngFor="let trainer of carouselPage">
          <div class="text-center">{{ trainer.name }}</div>
          <a [routerLink]="['/trainers', trainer.id]">
            <img src="{{ trainer.imageUrl }}" height="100px" alt="trainer-image" />
          </a>
        </div>
      </div>

    </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
</div>


<div class="fixed-action-btn">
  <a  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn-floating btn-large turquoise pulse tooltipped fixed" data-position="left" data-tooltip="Learn More">
    <i class="large material-icons">add_circle_outline</i>
  </a>
</div>

