
.trainercard {
  width: 130px;
  height: 140px;
  padding-top: 0.5%;
  margin: 0.4%;
  border-radius: 1em;
  background-color: white;
  transition: all 0.4s;
  border: rgb(245, 227, 227);
  border-width: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.modal{
  height: 50%;
}

.trainerlist {
  position: relative;
  bottom: 0%;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  height: 150px;
  width: 100%;
}

#active-first{
  visibility: visible;
  width: 200px;
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
}

.carousel .carousel-item {
  visibility: visible;
  width: 200px;
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
}

.btn {
  margin: 20px 40% 0;
}
