/* You can add global styles to this file, and also import other style files */
.main-body {
  margin-top: 10px;
  width: 97%;
  background: grey;
  margin-right: auto;
  margin-left: auto;
  background: url(https://media.redadn.es/css/i/pkm_fondo.png);
  background-repeat: repeat;
  background-position: center 166px !important;
}

.centertext {
  line-height: 1.5em;
  text-align: center;
}

.footer {
  flex: 1;
  }
  
  html {
  min-height: 100%;
  }