/* You can add global styles to this file, and also import other style files */
.main-body {
  margin: 10px;
  width: 97%;
  height: 97%;
  background: grey;
  margin-right: auto;
  margin-left: auto;
}

.centertext {
  line-height: 1.5em;
  text-align: center;
}
